* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
    background-color: #2f4f4f; 

}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: 0.3s;
}

.nav-links a.active,
.nav-links a:hover {
  opacity: 1;
  border-bottom: 2px solid #ffcc00; 
}

.cart-icon {
  font-size: 20px;
  cursor: pointer;
}

.hero {
  background-color: #2f4f4f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.hero-content {
  max-width: 500px;

}

.hero-content h1 {
  color: white;
  font-size: 42px;
  margin-bottom: 20px;
}

.hero-content p {
  color: white;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  opacity: 0.9;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn-1 {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.primary {
  background-color: #ffcc00;
  color: black;
}
.primary:hover {
  background-color: #edd163;
}

.secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
}
.secondary:hover {
  background-color: white;
  color: black;
}

.hero-image img {
  width: 649px;
  background-color: transparent;
}

.detail-content {
  padding: 60px 80px;
  color: #333;
  margin-bottom: 120px;
}
.detail-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.detail-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 21px;
  opacity: 0.8;
}
.detail-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 145px;
}

.detail-content {
  max-width: 470px;
}
.detail-content h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 15px;
  margin-top: 30px;
}

.img-grid img {
  width: 80%;
  border-radius: 10px;
}
.img-grid h4 {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 18px;
  color: black;
}
.btn {
  margin-top: 30px;
  padding: 12px 24px;
  background-color: black;
  color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 18px;
  font-weight: 600;
}
.btn:hover {
  background-color: #635e5e;
}

.chose-section {
  margin-top: 100px;
  padding: 60px 80px;
}
.chouse-container {
  display: flex;
  flex-wrap: wrap;
}


.content-dv h4 {
    font-size: 20px;
    margin-bottom: 15px;
}
.content-dv p {
  width:77%;
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.8;
}
.icon-content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  width: 55%;
  margin-top: 40px;
}
.icon {
  margin-bottom: 12px;
  font-size: 25px;
}
.icon-dv h4 {
  font-size: 18px;
  margin-bottom: 8px;
}
.icon-dv p {
  font-size: 15px;
  line-height: 1.4;
  opacity: 0.8;
}
.img img { 
    position: relative;
    top: -207px;
    left: 68px;
    width: 72%;
}
.img-ab img {
    position: absolute;
    right: 47px;
    top: 1400px;
    height: 70%;
    width: 29%;
    border-radius: 12px;
}